//######################### Varialbes ############################//

// variables about measure
@baseRadius		: 5px;
@themeColor		: #ea5f2f; 	// it use common
@themeColor-2	: #0567b4; 	// it use normal bg
@themeColor-3	: #3399cc;	// themecolor mostly dark
@headertop		: #00418c; 	// for header
@caret			: #ff9226;
@social			: #aaa;
@textColor		: #666;
@tabs			: @textColor;
@star			: #ccc;
@starActive		: #ffd62d;
@navbar			: #4b4b4b;
@readmore		: #ff3300;








@baseFamily		:	'Titillium Web', sans-serif;
@altFamily		:	'lubalindemi';
@secFamily		:	"Helvetica Neue", Helvetica, Arial, sans-serif;
@thirdFamily	:	"Dosis", sans-serif;
@forthFamily	: 	@baseFamily;
@baseFont		:	14px;



// Default Colors


@linkColor		: 	@themeColor;
@linkHoverColor : 	#FFC000;
@headingsColor	: 	white;
@SubheadingsColor: 	@themeColor-3;
@footerBottom   :	#d8d8d8;
@footerbg		: green;

@gray: #999;


// Body Colors

@bodybg			: 	#fff; // signin popus
@borderColor	:	#c9c9c9; // theme border
@themeBg		: 	#fff; // signin popus










